/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap'); */

body{
    background-color: rgba(5, 5, 5, 0.9);
}
*{
    font-family: 'Comic Neue', cursive;
}
::selection{
    color: #17CAF0;
}


.navbar-nav li .nav-link{
    cursor: pointer;
    transition: all 1s;
}
.navbar-nav .nav-link.active{
    color: #17CAF0;
}

#main .item{
    border: 1px solid #aaaaaa4f;
    transition: all 1s;

}
#main .item:hover{
    transform: scale(1.05);
}
#main figure:hover img{
    transform: scale(1.1);
    filter: none;
}
#main figure img{
    transition: all 1s;
    filter:grayscale(80%);
    height: 200px;
}
#main figcaption p{
    height: 150px;
    line-height: 1.2;
    text-align: center;
}
/* figcaption p::-webkit-scrollbar{
    background: #eeeeee52;
    width:7px;
    border-radius: 30px;
    
} */

#main .headCaption{
    height: 50px;
}
#main .headCaption h2{
    font-size: 14px;
}

#main select::-webkit-scrollbar{
    background: rgb(0, 112, 204);
    width:10px;
    border-radius: 30px;
    
    
}
@media screen and (max-width:992px) {

    .navbar-nav li .nav-link:hover{
        margin-left: 30px;
    }

    #main figure{
        max-width: 400px;
        margin: auto;
        border-radius: 10%;
    }
    #main figcaption p{
        height: fit-content;
    }
    #main .headCaption h2{
        font-size: 16px;
    }


    
}


#details{
    background-color: #050505f0;
    /* min-height: fit-content; */
    position:absolute;
    /* top:0;  */
    left: 100px;
    right: 100px;
    
}
#details figure img{
    height: 300px;
}

@media screen and (max-width:600px) {
    #details{
        left: 20px;
        right: 20px;
    }
}